.App {
  text-align: center;
}


body {
  background-color: #292929;
}

body {
  
  background-image: linear-gradient( rgba(1, 0, 0, 0.85), rgba(1, 0, 0, 0.85) ), url('./images/repeating.jpg');
  background-repeat: repeat;
  background-size: 250px;
}



ul {
  /* max-width: 60vw; */
  /* width: 100%; */
  columns: 2;
  -webkit-columns: 2;
  -moz-columns:  2;
  /* color: white; */
  color: black;
  /* font-size: 1.5em; */
  /* margin-bottom: 20px; */
  overflow: hidden;
  /* border-top: 1px solid #ccc;   */
  /* column-fill: auto; */

}

.players {
  /* column-count:2; */
  /* display: flex; */
  /* justify-content: center; */
  /* max-width: 80vw; */
  /* min-height: 50vh; */
}

.divider {
  /* border-style: solid; */
  background-color: #29292900;
  border-bottom: 5px, grey;
  padding-top: 30px;
  /* margin-top: 10px; */
  /* min-height: 1px; */
  /* margin-bottom: 10px; */
  /* position: inherit; */
  /* display: inline; */
}


/* .player-list .player-item {
  background: #474747;
  margin-bottom: 5px;
  text-align: center;
  min-height: 30px;
  font-size: 1.2rem;
  color: rgb(201, 93, 93);
  font-weight: bold;
} */

/* .player-list .player {
  background: #47474700;
  margin-bottom: 5px;
  text-align: center;
  min-height: 30px;
  font-size: 1.2rem;
  color: rgb(201, 93, 93);
  font-weight: bold;
} */

.big-text {
  font-size: 1.4em;
}

.location-list {

  justify-content: center;
  align-content: center;
  margin-bottom: 20px;
}
.player-list {

  justify-content: center;
  align-content: center;
  margin-bottom: 10px;
  
}

.navbar {
  padding-top: 1px;
  margin-bottom: 30px;
  /* background-image: , url('./images/repeating.jpg'); */
  font-size: 0.7em;
  background-image: linear-gradient( #463434, #331111 );
}

.button {
  background-color: #7c7c7c;
}

.btn:active {
  background-color: #7e4343;
}

.btn:focus {
  background-color: #7e4343;
}

.btn:disabled {
  background-color: #7e4343;
}


.text {
  color: white;
}

#finishButton {
  

  margin-bottom: 25px;
}

.location-list .location {
  float: left;
  justify-content: center;
  align-content: center;
  width: 46%;
  font-size: 0.9em;
  height: 50px;
  box-sizing: border-box;
  background: #1b1b1bc5;
  color: #ffffff;
  padding: 10px;
  margin-left: 10px;
  margin-top: 10px;
}

.player-list .player {
  float: left;
  justify-content: center;
  align-content: center;
  width: 46%;
  /* font-size: 0.9em; */
  height: 40px;
  box-sizing: border-box;
  background: #161616e5;
  color: #ffffff;
  padding: 10px;
  margin-left: 10px;
  font-size: 1.2rem;
  /* margin-top: 10px; */
}


.selected {
  background-color: #42424232;
  background: #42424232;

  text-decoration: line-through;
  text-decoration-color: black;
  text-decoration-style: double;
  

}

.player.ready {
  color: green;
}

.ingame {
  color: white;
  font-weight: normal;

}


